<html>
    <head>
        <title>Zeus Agent</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="main-menu">
            <div id="comdetails">
              Zeus Agent
            </div>
            <div id="navbar">
                <a href="/prevNotes">
                    <input type="button" name="goBack" id="goBack" value="Go Back" style="background-color: darkgray; width: fit-content;">
                </a>
                <a href="/logout">
                    <input type="button" name="logout" id="logout" value="Logout" style="background-color: darkgray; width: fit-content;">
                </a>
            </div>
        </div>
        <div id="fullnoteDesc">
            <% if(data == null) { %>
                <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 50px; text-align: center;">
                    This Sticky Note Has Expired!
                </h2>
            <% } else { %>
                <b>Title:</b>&nbsp;<%= data.title %>
                <br><br>
                <b>Description:</b>&nbsp;<%= data.text %>
                <br><br>
                <b>Created On:</b>&nbsp;<%= data.date.substring(0,25) %>
                <br><br>
                <b>Expires On:</b>&nbsp;<%= data.expire.substring(0,25) %>
                <br><br>
                <b>URL:</b>&nbsp;<a href="<%= data.url.substring(0,100) %>" target="_blank"><%= data.url.substring(0,100) %></a>
                <br><br>
                <% if (data.img == "") { %>
                    No Image Uploaded
                <% } else { %>
                    <img src="<%=data.img%>" height="35%" width="35%"/>
                <% } %>
            <% } %>
        </div>
    </body>
</html>